<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hallo, <%= @user.name %></h1>
    <p>
      Es wurde eine neue Aufgabe in der Gruppe <%= @task.group.name %> erstellt:
    </p>
    <p>
      Was? <i><%=  @task.name %></i><br />
      Bis? <i><%=  @task.due_date %></i><br />
      Anmerkung? <i><%= @task.description %></i><br />
    </p>
  </body>
</html>