<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :job_name %>
  </div>

  <div class="field">
    <%= form.label :gif_url %>
    <%= form.text_area :gif_url, id: :job_gif_url %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :job_description %>
  </div>


<% @sub.each do |sub| -%>

  <%= fields_for 'sub[]' , sub do |sub_field| -%>
    <%= sub.name %>
    <%= sub_field.check_box :id %>
    <br>

  <% end -%>

<% end -%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
