<%= form_with(model: job, url: @user ? user_jobs_path(@user) : jobs_path, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :job_name %>
  </div>

  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image %>
    <% if form.object.image? %>
      <%= image_tag form.object.image %>
      <%= form.label :remove_image %>
      <%= form.check_box :remove_image %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :image_preview %>
    <%= form.text_area :image_preview, id: :image_preview %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :job_description %>
  </div>

<% @sub.each do |sub| -%>
  <%= fields_for 'sub' , sub do |sub_field| -%>
    <%= sub.name %>
    <%= check_box_tag "sub[]", sub.id, job.subcategories.include?(sub) %>
    <br>
  <% end -%>
<% end -%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
