<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Image</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.name %></td>
        <td><img src="<%= job.image %>" style="max-width: 5em;"></td>
        <td><%= job.description %></td>
        <td>
          <% job.subcategories.first(5).each do |sub| %>
          <%= %"#{sub.name}, " %>
          <% end %>
        </td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', @user ? user_job_path(@user, job) : job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', @user ? new_user_job_path(@user) : new_job_path %>
