<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @job.image %>
</p>

<p>
  <strong>Image Preview:</strong>
  <%= @job.image_preview %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>in Kategorien:</strong>
  <ul>
  <% @job.subcategories.each do |sub| %>
    <li><%= sub.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
