<%= form_with(model: subcategory, local: true) do |form| %>
  <% if subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subcategory.errors.count, "error") %> prohibited this subcategory from being saved:</h2>

      <ul>
      <% subcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :subcategory_name %>
  </div>

  <div class="field">
    <%= form.label :icon %><br>
    <%= form.file_field :icon %>
    <% if form.object.icon? %>
      <%= image_tag form.object.icon %>
      <%= form.label :remove_image %>
      <%= form.check_box :remove_image %> 
    <% end %>
  </div>


  <% @categories.each do |cat| -%>

    <%= fields_for 'cat[]' , cat do |cat_field| -%>
      <%= radio_button_tag("subcategory[category_id]", cat.id, subcategory.category == cat) %>
      <%= form.label cat.name %>
    <% end -%>

  <% end -%>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
