<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>Icon url:</strong>
  <%= @subcategory.icon %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcategory.category.name %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %>
