<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Icon url:</strong>
  <%= @category.icon_url %>
</p>

<p>
  <strong>Childhood:</strong>
  <%= @category.chilhood %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
