<h1>Login</h1>


<% if notice %>
  <div class="alert alert-warning" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger" role="alert">
      <%= alert %>
  </div>
<% end %>

<%= form_tag login_path do |f| %>
  Name: <%= text_field_tag :name %> <br>
  Password: <%= password_field_tag :password %> <br>

  <%= submit_tag 'Login' %>
<% end %>