<%= form_with(model: invitecode, local: true) do |form| %>
  <% if invitecode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invitecode.errors.count, "error") %> prohibited this invitecode from being saved:</h2>

      <ul>
      <% invitecode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :invitecode_code %>
  </div>

  <div class="field">
    <%= form.label :group_id %>
    <%= form.text_field :group_id, id: :invitecode_group_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
