<p id="notice"><%= notice %></p>

<h1>Invitecodes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invitecodes.each do |invitecode| %>
      <tr>
        <td><%= invitecode.code %></td>
        <td><%= invitecode.group %></td>
        <td><%= link_to 'Show', invitecode %></td>
        <td><%= link_to 'Edit', edit_invitecode_path(invitecode) %></td>
        <td><%= link_to 'Destroy', invitecode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invitecode', new_invitecode_path %>
